* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 main {
     min-height: 100vh;
     background: linear-gradient(to right top, #65dfc9, #6cdbeb);
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .glass {
     background: white;
     background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
     min-height: 80vh;
     width: 60%;
     border-radius: 2rem;
     z-index: 2;
     backdrop-filter: blur(2rem);
 }
 .circle1 {
     background: white;
     background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
     height: 16rem;
     width: 16rem;
     position: absolute;
     top: 4%;
     right: 15%;
     border-radius: 50%;
 }
 .circle2 {
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    height: 16rem;
    width: 16rem;
    position: absolute;
    bottom: 4%;
    left: 10%;
    border-radius: 50%;
}
